<nav class="menu">
  <div class="nav-wrapper">

<table id="posicionamentoHeader">
  <tbody>
  <tr>
  <td style="width: 40%;"><a i18n="@@logoHeader" href="/eventos" class="brand-logo">Sistema de Cadastramento de Eventos</a></td>
  <td style="width: 200px;text-align: center;padding-left: 3rem;"><span i18n="@@comboLinguas" style="font-weight: bold;font-size: 1.3rem;">Mudar Lingua</span>:</td>
    <td>
      <select id="locais">
          <option value=""></option>
          <option value="en">Ingles</option>
          <option value="br">Portugues</option>
      </select>
    </td>
  <td style="width: 170px;"><span i18n="@@ola" style="font-size: 2rem;">Olá </span><span *ngIf="usuarioLogado; else elseBlock" style="font-size: 2rem;">{{usuarioLogado.userName}}</span></td>
                                                               <ng-template i18n="@@visitante" #elseBlock>Visitante</ng-template>
  <td style="text-align: center;"><a i18n="@@linkDeslogar" href="https://localhost:8443/myapp/logout" style="font-size: 1.5rem;">Sair</a></td>

  <td style="width: 200px;">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a i18n="@@butaoCadastrarEvento" class="waves-effect waves-light btn" (click)="openFormCadastraEvento()">Cadastrar Evento</a></li>
        </ul>
  </td>
  </tr>
  </tbody>
</table>

  </div>
</nav>

