fieldset {
    padding: .35em .75em .625em !important;
}

.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}


.margem-butao {
    margin-left: 2.5rem !important;
    margin-bottom: 1rem;
}


.flex-spacer {
  flex: 1 1 auto;
}

.mat-dialog-actions .mat-button+.mat-button {
    margin-left: 4rem;
}

.tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
 }
 .tp-margin {
    margin: 0 10px;
 }


 #customBtn {
    display: inline-block;
    background: #26a69a;
    color: white;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  span.icon {
    background: url('https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-48.png') transparent 3px 50% white;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 42px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }

